html {
  scroll-behavior: smooth;
}

nav{
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

/*----------HOME PAGE START ----------*/

#2019con img{
    width: 700px;
}

#emergenceGroup { 
  background-image: url("../img/emergenceGroup.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*----------HOME PAGE END ----------*/



/*----------ABOUT PAGE START ----------*/

#eboard img{
    width: 70%;
    border-radius: 5px;
    padding-bottom: 10px;
}

#eboard h3{
    margin-bottom: 5px;
}

#eboard h4{
    font-size: 20px;
    font-weight: normal;
}

#about-header-image {
  min-height: 540px;
}

#about-header-image .jumbotron {
  max-width: 720px;
}

.transluscent-bg{
    background-color: black;
    opacity: .85;
    border-radius: 10px;
}


/*----------ABOUT PAGE END ----------*/

/*----------HLS PAGE START ----------*/

#header-background {
  background-image: linear-gradient(to right, rgba(223, 100, 100, 1) 40%, rgba(255, 255, 255, 0.5)), url("../img/hslBoard.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.hsl-portfolio-caption {
  padding: 20px;
  background-color: rgba(223, 100, 100, 0.1);
}



/*----------HSL PAGE END ----------*/

/*----------RESOURCES PAGE END ----------*/

#resources h3{
    margin-top: 15px;
}

#resources p{
    font-size: 1.2em;
}

#resources .col-12{
    max-width: 800px;
}

/*----------RESOURCES PAGE END ----------*/



/*----------FOOTER PAGE START ----------*/

footer i{
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 25px;
    color: black;
}

/*----------FOOTER PAGE END ----------*/


